<h1>Contact Us:</h1>
<form class="form" method="POST" action="/contact-us-post">
		
			<p class="name">
			<label for="name">Name</label><br>
				<input type="text" name="name" id="name" placeholder="Your Name" />
				
			</p>
		
			<p class="email">
			<label for="email">Email</label><br>
				<input type="text" name="email" id="email" placeholder="your@email.com" />
				
			</p>		
	
			<p class="text">
			<label for="name">Your Message:</label><br>
				<textarea name="message_body" placeholder="Make a comment..." /></textarea>
			</p>
		
			<p class="submit">
				<input type="submit" value="Send" />
			</p>

</form>
<h2>Our Latest Bounty:</h2>
<br><p id="imgcenter"><img src="img/meat.jpg"></p>