<h2>F.A.Q</h2>
    
    <div class="container">
        <h5>Do you really use real human meat?</h5>
        <p class="hide">Yes, all of our products are made with 100% human meat.  We do not add any other meats or "fillers" to any of our products.  When you order from us, you can be assured that you will only receive the highest quality human meat.   To find out more about our meat, check out our "Processing" part on the bottom of this page</p>
    </div>

    <br />

    <div class="container">
        <h5>Why do you not sell your products directly off your website?</h5>
        <p class="hide">We do this, because we prefer to deal with our customers on a more personal basis.  Because we are so focused on customer service and customer satisfaction, we do not wish to lose all contact with our customers.  Because we cater to a select group of clientele, we find it better to deal directly with our customers.<br><br>

		We also do not sell products directly off of our website because we would be unable to meet the demand of thousands of orders per day.  Because the supply of high quality human meat is limited, we have to limit the number of orders we accept.<br><br>
		<b>Most Importantly</b><br> 
		Because our products contain human meat we are unable to sell to just anyone.  We require that all our customers sign both a contract and a waiver before they are allowed to purchase any product containing human meat.  We also run a background check on all individuals that wish to purchase human meat.  This is because we are unable to provide our services to some individuals with criminal histories.   We also require membership because purchasing, consuming, and shipping human meat may be illegal in your area.  While our legal department runs the background check on a prospective customer they also check all your local and federal laws relating to human meat.</p>
    </div>

    <br />

    <div class="container">
        <h5>Can human meat be frozen and retain its flavor?</h5>
        <p class="hide">Human flesh does not keep its high quality long in the freezer because changes in flavor and texture occur. If freezing any ManBeef product is necessary, it should be kept in original wrapping or after heated tightly sealed and stored at 0 degrees F for no longer than two months.</p>
    </div>

    <br />

    <div class="container">
        <h5>Why is human meat so expensive?</h5>
        <p class="hide">Human meat is so expensive, because it is extremely difficult to obtain.   And it is even more difficult to obtain human meat that is of exceptionally high quality.  However, because human meat has a uniquely exquisite flavor, it is known world wide as a gourmet delicacy.  To find out more about why quality human meat is so difficult to obtain, and how we go about obtaining our meats, please view our Processing part below</p>
    </div>

    <h2>Processing</h2>
    <p>Ever since Human Beef Co. was established back in 1982, we have maintained our reputation for high quality meats.  We monitor the quality of our meat at every step, from purchasing of the body, to packaging the finished meat products. </p> 
    <p id="imgleft"><img src="img/cut.jpg"></p>
    <p>Because Human Beef Co. extensively tests every cut of meat and only accepts the highest quality bodies, we have been forced to raise our prices.  The process of purchasing high quality bodies and  testing each individual cut of meat is extremely expensive.  Add to that the cost of butchering and shipping the meats in special coolers, and you can understand the need for us to charge more.  We do this to guarantee that you only receive the highest quality human meat on the market.  All of our testing pays off in the long run.  As a result of our extensive quality testing we are able to easily grade the texture, flavor and quality of each cut of human meat.  This allows you to choose the cut of meat that is appropriate for both your budget and the meal you wish to prepare.</p>

	<p>Below you will find some information about how we acquire and process all of our meats.  This will help you better understand our focus on quality.  We cover every step from acquiring the human body, to final meat preparations.</p>

	<p>If you have any questions at all, please feel free to use our contact form to contact us.</p>

	<h2>Acquiring the body</h2>
	<p>We have several ways to obtain high quality human bodies for processing.  The most common way we get our meat, is from cadaver vending companies.  These companies are located all over the world, and pay people a specific amount of money to donate their body once they die.  All cadaver vendors we use screen the body before it is sold to Human Beef Co.</p>
	<p id="imgright"><img src="img/cart.jpg"></p>
	<p>This prevents us from receiving bodies that are too poor quality for gourmet consumption.  If any body is sold to us that is sub-standard quality we will first inform the vendor, and then either return the body or donate it to science.   Once the person passes away, the body is quickly packed in ice and shipped to our processing department.</p>

	<p>The second way human bodies are acquired, is to purchase them from organ donation companies.  This works out well because bodies that have their organs donated are quickly placed on ice and handled under extremely sanitary conditions.  Once a body has its donated organs removed it is promptly packed in ice and ship it to our processing department.</p>

	<p><i>Note: This does not mean that if you donate your organs or donate your body to science that your body can be sold to manbeef.   All persons who have donated their organs have also stated that their body can be sold to cadaver venders after the organs have been extracted.</i><p>

	<h2>Quality control and processing</h2>
	<p>The first step is determining the quality of the body.  Because humans are not kept in controlled environments, their health and diet can not be maintained for the purpose of slaughter.  Humans are also subject to an enormous range of diseases, infections, chemical imbalances, and poisonous bad habits, all typically increasing with age. Also, as a human ages the meat loses its tenderness becoming tough and stringy.</p>  
    <p id="imgleft"><img src="img/groundmeat.jpg"></p>

	<p>Human Beef Co. will not purchase the body of any human that is older than 40 years, shows any signs of decay or disease, or is not in good physical shape. (ratio of body fat to muscle mass.)  Once we have the body we start our quality control process.   We first screen the blood for known diseases, toxins, or undesired chemicals.   If the body does not pass this or any stage of the quality control process it is donated to science.  At this stage we also take a biopsy of the lungs and liver to check for signs of smoking or abuse of alcohol.  All other organs  also have biopsies taken to screen for diseases or other contamination.</p>

	<p>The second step is to determine the quality of the meat.  As the body is separated into individual cuts of meat, we carefully examine every cut.  If one cut is determined undesirable (meat is too stringy or the meat quality does not meet our standards) no cut of meat will be used from that body. </p>
	<p id="imgright"><img src="img/grinder.jpg"></p>

	<p>At every stage of processing our skilled butchers work in a cleanroom environment wearing protective clothing.  This is to protect the meat from outside contamination (dust, dirt, pollen, spores, etc.)</p>

	<p>Once the body has passed all preliminary inspections the processing stage begins.  As the meat is separated into individual cuts, each cut has samples taken for testing.  Each individual cut is closely inspected and monitored.  At no point is a cut of meat left out of view of the butcher or our staff. From the moment the body has been approved until the moment it is packaged, it is under the close watch of our well trained and experienced staff.</p>

	<p>After any piece of equipment has touched human meat or been used to process human meat, it is thoroughly cleaned.  This means that in-between processing any two bodies all equipment is cleaned.</p>

   

