
<h1>Welcome!</h1>
<p>For the last 33 years Human Beef Co. has been the world's leading human meat distributor.  We have established a reputation for having only the highest quality human meat products and dedicated customer service representatives.</p>
<p id="imgcenter"><img src="img/butcher.jpg"></p>
<p>Because we only cater to a select group of people, we try to keep a close relationship with all of our customers, and sell our products by referral only.  This allows us to help you get the best quality human meat for your budget, and ship it right to your front door.</p>
<h2>About Us</h2>
<p>On January 20th, 1982, Human Beef Co. was formed.  At first we were a small company with only a select group of clients.  Over the years we have vastly expanded, and now cater to the needs of clients in over 35 countries.  Even though we have quickly grown in size, we still respect the individual needs of each customer, and this is one of many reasons we have been so successful.  Every step of the way we have paid close attention to the quality of our products, and the satisfaction of our customers.  Now that we have opened this website, we will be able to better help our customers all over the world.  We would like to thank all of our long-term clients who have supported our endeavors over the last 19 years.</p>

<h2>Testimonials:</h2>

<div class="testimonials">

<div class="customer">
	<img src="img/ivan.jpg">"Hey guys? Where is my order? I placed it last week and it should be here by Wednesday. I'm ready to make sausages but the last ingredient - intestines, is missing! I thought you were professionals. Pfffff! What am I supposed to do with 20 lbs of dog meat till then? Give me the tracking number or you lost a customer!"
	<h4>~ Ivan Sprinkler</h4>
</div>

<div class="customer">
	<img src="img/dahmer.jpg">"I normally get all my meat myself but when in tight spot, you guys are the place that never disappoints! Can't wait for my order to arrive! As we all know, meat tenderness is very important in cooking and your stuff gives my taste buds fireworks all day long after I ate a meal! "
	<h4>~ Jeffrey Dahmer</h4>
</div>

<div class="customer">
	<img src="img/hannibal.jpg">"Thank God for your descrete delivery services! I've already recommended your site to a few of my friends. Anyone who wants to host parties 10+ people simply knows it's impractical and sometimes even dangerous to gather supplies yourself. You are such a huge time-saver, especially during my hunting "dry-spells".
	<h4>~ Hannibal Lecter</h4>
</div>

<div class="customer">
	<img src="img/maggy.jpg">"My ex introduced me to your site, and when you got a taste for baby meat and no babies to find, you can just pick up a phone and order you some. It's pricey but my welfare check will take at least a few orders in. The only problem I have with your orders is I have to be there when the box arrives or my neighbors steel it."
	<h4>~ Maggy Love</h4>
</div>

<div class="customer">
	<img src="img/pete.jpg">"My wife hid a bag of frozen tongues from me because I drunk all of her beer, so I need to place another order in time for this weekend BBQ. You think it will get here on time or I have to settle for regular hotdogs? Maybe it's easier to go and get her more beer, but if I was THAT advencherous, I could go and get my meat myself ;)"
	<h4>~ Pete Hole</h4>
</div>

</div>
