<!DOCTYPE html>
<html>
<head>
	<title>Human Beef Co</title>
	
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="body">
<div id="header"><img src="img/banner.jpg"></div>
<div id=menu>
<ul id="navigationMenu">
    <li>
	    <a class="home" href="index">
            <span>Home</span>
        </a>
    </li>
    
    <li>
    	<a class="about" href="#">
            <span>About Us</span>
        </a>
    </li>
    
    <li>
	     <a class="products" href="#">
            <span>Products</span>
         </a>
    </li>
    
    <li>
    	<a class="faq" href="#">
            <span>F.A.Q.</span>
        </a>
    </li>
    
    <li>
    	<a class="contact" href="#">
            <span>Contact Us</span>
        </a>
    </li>
</ul>
</div>

<div id="main">






<%= yield %>








</div>
<div id="footer">
    <img src= "img/live-chat.png" />
</div>
</div>


</body>
</html>