<!DOCTYPE html>
<html>
<head>
	<title>Human Beef Co</title>
	
	<link rel="stylesheet" type="text/css" href="style.css">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

</head>
<body>
<div id="bodyWidth">
<div id="header"><img src="img/banner.jpg"></div>
<div id=menu>
<ul id="navigationMenu">
    <li>
	    <a class="home" href="/">
            <span>Home</span>
        </a>
    </li>
    
    <li>
    	<a class="faq" href="faq">
            <span>F.A.Q</span>
        </a>
    </li>
    
    <li>
	     <a class="products" href="products">
            <span>Products</span>
         </a>
    </li>
    
    <li>
    	<a class="recipes" href="recipes">
            <span>Recipes</span>
        </a>
    </li>
    
    <li>
    	<a class="contact" href="contact">
            <span>Contact Us</span>
        </a>
    </li>
</ul>
</div>
<div id="rightSidebar" id="imgcenter">
    <img src="img/subscribe-bar.png">
    <p>Subscribe to our email list to see our special weekly offers and discounts that can be applied to all your purchases.</p>
    <div id="mc_embed_signup">
        <form action="//telomerance.us5.list-manage.com/subscribe/post?u=f55df4574d09cb71b76ea6578&amp;id=f635ebee6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_f55df4574d09cb71b76ea6578_f635ebee6d" tabindex="-1" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </div>
        </form>
    </div>
    <div><br><img src="img/divider.png"><br></div>
    <img src="img/free-book.jpg">

</div>

<div id="main">






<%= yield %>








</div>




<div id="footer">
    <a href="contact"><img src= "img/live-chat2.png" /></a>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="main.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"f55df4574d09cb71b76ea6578","lid":"f635ebee6d"}) })</script>

</body>
</html>