
<container>
	<div class="items">
		<div class="left">
			<img src="img/newyorkstrip.jpg" alt="New York Strip Steak"
			class="meat">
		</div>
		<div class="right">
			<h2>New York Strip Steak</h2>
			
			<p>
				This premium boneless strip steak is cut to a hefty 14 ounces. The New York Strip is widely regarded as the king of all grilling steaks, with plenty of bold sflavor and a firm texture that makes high-heat cooking easy. These big, perfectly marbled strips are trimmed by our master butchers, aged to perfection and delivered to you frozen for absolute freshness.
			</p>
		</div>
	</div>
	<div class="items">
		<div class="left">
			<img src="img/filet_mignon.jpg" alt="Filet Mignon" class="meat">
		</div>
		<div class="right">
			<h2>Filet Mignon</h2>
			<p>
				This extraordinary Triple-Trimmed Filet Mignon is sure to thrill everyone sitting at your table. Not only is this famous steak a culinary jewel trimmed three times by hand, removing every hint of exterior fat, it's carved from superb, grain-fed, all-American beef and slowly, naturally aged to its peak of incredible tenderness. Then it's flash frozen to preserve that perfection for the moment you place it on your grill. Its exquisite, elegant flavor will be complemented... but not covered by our all-natural steak seasoning and the equally elegant Napa Cabernet Glaze will add an entrancing depth of flavor.
			</p>
		</div>
	</div>
	<div class="items">
		<div class="left">
			<img src="img/baby_back_ribs.jpg" alt="Baby Back Ribs" class="meat">
		</div>
		<div class="right">
			<h2>Baby Back Ribs</h2>
			<p>
				Everyone's got their own rib recipe, but the first step is to start with high-quality ribs. Look no further – We’re is proud to present these premium raw ribs, loaded with tender, juicy meat and ready to barbeque to perfection. It's a whole rack of uncooked back ribs, split in two for your convenience. Each package totals 2 lbs
			</p>
		</div>
	</div>
	<div class="items">
		<div class="left">
			<img src="img/t_bone.jpg" alt="T-Bone Steak">
		</div>
		<div class="right">
			<h2>T-Bone Steak</h2>
			<p>
				Big, classic T-Bones are like two steaks in one. One side is a bone-in Strip Sirloin. The other side is a tasty portion of Filet Mignon. Together they make the T-Bone a feast for the serious steak lover.
			</p>
		</div>
	</div>
	<div class="items">
		<div class="left">
			<img src="img/flat_iron.jpg" alt="Flat Iron Steak" class="meat">
		</div>
		<div class="right">
			<h2>Flat Iron Steaks</h2>
			<p>
				Robust and beefy Flat Iron Steaks are perfect for the grill. This popular steak is catching on with steak lovers everywhere. Our Flat Iron Steak is extra tender and juicy with a robust, beef flavor that's delicious grilled, broiled, or pan fried. Big on flavor, yet completely trimmed, this trendy steak is one you have to try!
			</p>
		</div>
	</div>
	<div class="items">
		<div class="left">
			<img src="img/rump_roast.jpg" alt="Rump Roast" class="meat">
		</div>
		<div class="right">
			<h2>Rump Roast</h2>
			<p>
				Our Rump Roasts give you the taste of home cooking without all the work. So impress your family with our oven-ready roast.
			</p>
		</div>
	</div>
</container>