
<h1>RECIPES</h1>


	<div id ="recipeCard" >
		<img id="image1" class="pict" src="img/rumproast.jpg"/>

		<div id="rumproastrecipe">
			<ul class="recipeIngredients">
				<li> 2-4lbs Rump roast </li>
				<li>1/2 cup diced onions</li>
				<li>salt and pepper</li>
				<li>Roasting pan</li>
				<li>3-4 cups of water</li>
				<li>2 chopped potatoes</li>
			</ul>
			<!-- <ul class = "recipeIngredients">
				<li>3-4 cups of water</li>
				<li>2 choped potatos</li>
				<li></li>
				<li></li>
			</ul> -->
		

			<p class="pict" id ="pict_desc"> 
				Pre-head the over to 500 degrees.
				Prep the roast by making 4-5 slits in the roast and filling the holes with salt, pepper and 1/2 of a clove of garlic. Salt and pepper the roast to taste. Place in oven and sear for 20 mins. Add water, onions, potatos and reduce temperature to 275 degrees. cook for 20 mins per pound for rare. 
			</p>
		</div>
	</div>
<!-- <div>
	<img id = "image2" class = "pict" src="img/chicken_stock.jpg">
</div>
<div>
	<img id = "image3" class = "pict" src="img/chicken_stock.jpg">
</div>
<div>
	<img id = "image4" class = "pict" src="img/chicken_stock.jpg">
</div> -->

