
<h1>RECIPES</h1>


	<div id ="recipeCard" >
		<img id="rumproast" class="pict" src="img/rumproast.jpg"/>

		<div id="rumproastrecipe" class = "description">
			<ul class="recipeIngredients">
				<li> 2-4lbs Rump roast </li>
				<li>1/2 cup diced onions</li>
				<li>salt and pepper</li>
				<li>Roasting pan</li>
				<li>3-4 cups of water</li>
				<li>2 chopped potatoes</li>
			</ul>
			<!-- <ul class = "recipeIngredients">
				<li>3-4 cups of water</li>
				<li>2 choped potatos</li>
				<li></li>
				<li></li>
			</ul> -->
		

			<p class="pict" id ="pict_desc"> 
				Pre-head the oven to 500 degrees.
				Prep the roast by making 4-5 slits in the roast and filling the holes with salt, pepper and 1/2 of a clove of garlic. Salt and pepper the roast to taste. Place in oven and sear for 20 mins. Add water, onions, potatos and reduce temperature to 275 degrees. cook for 20 mins per pound for rare. 
			</p>
		</div>
	</div>
	<div id = "recipeCard">
		<img id="ribs" class="pict" src="img/ribs.jpg"/>

			<div id="ribsrecipe" class = "description">
				<ul class="recipeIngredients">
					<li>4lbs of ribs</li>
					<li>3/4 cup brown sugar</li>
					<li>bbq sauce</li>
					<li>tbl spn paprika</li>
					<li>crushed garlic</li>
					<li>1/2 tsp red pepper flakes</li>
				</ul>
				<!-- <ul class = "recipeIngredients">
					<li>3-4 cups of water</li>
					<li>2 choped potatos</li>
					<li></li>
					<li></li>
				</ul> -->
			

				<p class="pict" id ="pict_desc"> 
					Pre-head the oven to 300 degrees.
					Mix together the sugar and spices to make rub. Apply rub to all sides. Lay ribs on two sheets of foil. Shiny side out and meat side down.roll and crimp foil around ribs. Place on baking sheet for 2 - 2.5 hours. Remove foil and place ribs in broiler meat side down. Apply favorit bbq sauce and broil for 2 minutes.
				</p>
			</div>
	</div>
	<div id = "recipeCard">
		<img id="chitlins" class="pict" src="img/Chitlins.jpg"/>

		<div id="chitlinsrecipe" class = "description">
			<ul class="recipeIngredients">
				<li>10lbs Chitterlings</li>
				<li>1 Large Onion</li>
				<li>2 Medium Carrots</li>
				<li>2 Stalks of Celery</li>
				<li>5 Potatoes</li>
				<li>1 tsp Salt</li>
				<li>2tsp Red Pepper Flakes</li>
			</ul>

			<p class="pict" id ="pict_desc"> 
				Wash chitterlings throughly. Trim fat, leaving a small amount for seasoning. In a large sauce pan, cover chitterlings with water. Add red pepper flakes, minced garlic, black pepper, and salt. Cook chitterlings until tender, 2 to 3 hours. Drain and cut into serving sized pieces. Serve hot, at once.
				Deep Fat Fried Chitterlings; Dip boiled chitterlings in beaten egg, then in crushed saltine cracker. Fry in deep hot fat (375 degrees) until brown.
			</p>
		</div>
	</div>
	<div id = "recipeCard">
		<img id="schnitzel" class="pict" src="img/schnitzel.jpg"/>

		<div id="schnitzelrecipe" class = "description">
			<ul class="recipeIngredients">
				<li>6 Loin Chops</li>
				<li>1/2 tspn salt</li>
				<li>1/3 cup flour</li>
				<li>1/4 cup bread crumbs</li>
				<li>1 egg</li>
				<li>1/4 cup milk</li>
				<li>3 Tblsp of oil/li>
			</ul>

			<p class="pict" id ="pict_desc"> 
				Measure flour and bread crumbs onto separate sheets of waxed paper. Whisk together egg and milk in bowl. Lightly coat cutlets in flour, shaking off excess; dip in egg mixture, then into bread crumbs, pressing crumbs to coat.
				Add cutlets to skillet cook turning over when golden brown. remove and serve.
			</p>
		</div>
	</div>


</div>
<!-- <div>
	<img id = "image2" class = "pict" src="img/chicken_stock.jpg">
</div>
<div>
	<img id = "image3" class = "pict" src="img/chicken_stock.jpg">
</div>
<div>
	<img id = "image4" class = "pict" src="img/chicken_stock.jpg">
</div> -->