
<h1>Welcome!</h1>
<p>For the last 33 years Human Beef Co. has been the world's leading human meat distributor.  We have established a reputation for having only the highest quality human meat products and dedicated customer service representatives.</p>
<p><img src="img/butcher.jpg"></p>
<p>Because we only cater to a select group of people, we try to keep a close relationship with all of our customers, and sell our products by referral only.  This allows us to help you get the best quality human meat for your budget, and ship it right to your front door.</p>